<div id="<%= dom_id proposal %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Job:</strong>
    <%= proposal.job_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Freelancer:</strong>
    <%= proposal.freelancer_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cover letter:</strong>
    <%= proposal.cover_letter %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Bid amount:</strong>
    <%= proposal.bid_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Estimated time:</strong>
    <%= proposal.estimated_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= proposal.status %>
  </div>
</div>
